@using TODO_V2.Client.Pages
@using TODO_V2.Shared

@inject HttpClient Http
<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" StackLength="5" Placement="ToastsPlacement.TopRight" />

<div class="main-box">
    <h2>REGISTRO</h2>
    <form>
        <div class="core-box">
            <input autofocus type="text" name="" required="true" @bind="UserName" @bind:event="oninput" style="border: 2px solid @UserNameColor; box-shadow: 0 3px 26px @UserNameColor;" @onkeyup="ValueChangeHandler">
            <label>Username</label>
        </div>
        <div class="core-box">
            <input type="Password" name="" required="true" @bind="Password" @bind:event="oninput" style="border: 2px solid var(--password-color); box-shadow: 0 3px 26px var(--password-color);" @onkeyup="ValueChangeHandler">
            <label>Contraseña </label>
        </div>
        <div class="core-box">
            <input type="Password" name="" required="true" @bind="@CheckPassword" @bind:event="oninput" style="border: 2px solid var(--password-color); box-shadow: 0 3px 26px var(--password-color);" @onkeyup="ValueChangeHandler">
            <label>Repetir Contraseña</label>
        </div>
        <div class="core-box">
            <input type="text" name="" required="true" @bind="@Name" @bind:event="oninput" style="border: 2px solid @NameColor; box-shadow: 0 3px 26px @NameColor;" @onkeyup="ValueChangeHandler">
            <label>Nombre</label>
        </div>
        <div class="core-box">
            <input type="text" name="" required="true" @bind="@Surname" @bind:event="oninput" style="border: 2px solid @SurnameColor; box-shadow: 0 3px 26px @SurnameColor;" @onkeyup="ValueChangeHandler">
            <label>Apellido</label>
        </div>
        <div class="core-box">
            <input type="text" name="" required="true" @bind="@Clave" @bind:event="oninput" style="border: 2px solid @ClaveColor; box-shadow: 0 3px 26px @ClaveColor;" @onkeyup="ValueChangeHandler">
            <label>Clave</label>
        </div>
        <button type="button" class="button-style" @onclick="OnClickRegistro">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Registrarse
        </button>
        <button type="button" class="button-style" @onclick="OnClickClose">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Salir
        </button>
    </form>
</div>

<style>
    :root{       
        --password-color: @PasswordColor;
    }

    .main-box button {      
        display: ruby-text;        
        width: 100%;
        text-align: center;
    }
}
</style>
