@using TODO_V2.Shared.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms

@using TODO_V2.Client.Pages
@using TODO_V2.Shared

@inject HttpClient Http
<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" StackLength="5" Placement="ToastsPlacement.TopRight" />

<div class="main-box">  
    <form>
        <div class="core-box">
            <input autofocus type="text" name="" required="true" @bind="TaskName" @bind:event="oninput" style="border-bottom:1px solid @DescripcionColor" @onkeyup="ValueChangeHandler">
            <label>Tarea</label>
        </div>
        <div class="core-box">
            <input type="text" list="browsers" />
            <datalist id="browsers">
                <option>Google</option>
                <option>IE9</option>
            </datalist>
            <label>Categoria </label>
        </div>
        <div class="core-box">
            <DateInput TValue="DateTime" @bind-Value="@ExpirationDate"/>    
            <label>Fecha de expiración </label>
        </div>
        <div class="core-box">
            <input type="text" name="" required="true" @bind="@state" @bind:event="oninput" @onkeyup="ValueChangeHandler">
            <label>Estado</label>
        </div>       
        <a href="" @onclick="OnClickRegistro">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Aceptar
        </a>
        <a href="" @onclick="OnClickClose">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Salir
        </a>
    </form>
</div>

