<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		<target xsi:type="File"
                name="logfile"
                fileName="${basedir}/logs/log-api-${shortdate}.txt"
                layout="${longdate} [${level:uppercase=true}] ${message}"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
                concurrentWrites="true"/>
	</targets>

	<targets>
		<target xsi:type="File"
                name="logfilextended"
                fileName="${basedir}/logs/Elog-api-${shortdate}.txt"
                layout="${longdate} [${level:uppercase=true}] ${callsite} ${message}"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="7"
                concurrentWrites="true"/>
	</targets>
	
	<rules>		
		<logger name="TODO_V2.Server.RequestLoggingMiddleware" minlevel="Trace" writeTo="logfile" />
		<logger name="TODO_V2.Server.RequestLoggingMiddleware" minlevel="Trace" writeTo="logfilextended" final="true" />
	</rules>
</nlog>
