@using TODO_V2.Shared.Models
@inject IJSRuntime JS

<div>
<p>@Name</p>
</div>
<div>
<p class="text-danger">¿Está seguro de que desea eliminar @Message?</p>
</div>

<style>
    .modal-title{
        font-size: large;
    }

    .modal-header {
        display: flex;
        border-bottom: 1px solid #03e9f4;
        flex-direction: column;
    }

    .modal-content{
        background-color: rgba(0, 0, 0, 0.8);
        color: #03e9f4;
        box-shadow: 0 8px 22px rgba(3,233,244,.5);
        border: 1px solid #03e9f4;
        border-radius: 8px;
    }

    .modal-content div {
        margin: 3%;       
    }
</style>
