@page "/user/{Id}"
@using TODO_V2.Client.Pages.Components

@inject HttpClient Http
@inject NavigationManager NavManager
@inject IJSRuntime JS
@inject ILocalStorageService storageService

<div class="container">
    <div class="todoContainer">
        <Todo Id="@Id" />
    </div>
</div>

<style>
    .container {
        padding: 0% 3% 3% 3%;
        min-width: -webkit-fill-available;
        border-top: 2px solid #03e9f4;
        margin: 4%;
        border-radius: 20px;
        -webkit-box-shadow: inset 0px 56px 103px -90px rgba(3,233,244,1);
        -moz-box-shadow: inset 0px 56px 103px -90px rgba(3,233,244,1);
        box-shadow: inset 0px 56px 103px -90px rgba(3,233,244,1);
        .usersContainer
    }
</style>